.App {
  text-align: center;
  font-family: "Patrick Hand";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  background-color: #e8eccd;
}

.foto-container {
  display: flexbox;
}
.nav {
  background-color: #e8eccd;
}

h1 {
  font-size: 3rem;
  margin: 0.25rem;
}
